# enviroment variabels
.env

# virtual environment for the file
/env
/venv
/myenv

# additional files
/__pycache__
/CropRecommendation/__pycache__
/Gemini/__pycache__
/Database/__pycache__

# offline models
/Models

# vscode
.vscode